$formWidth: 300px;
@media(min-width: 400px) {
  $formWidth: 350px;
}
$chooseFormMargin: -($formWidth - 20);
$mainColor: #263345;
$extraColor: #C9C783;

.login-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background: $mainColor;

  .choose-form {
    color: #ffffff;
    cursor: pointer;
    background: none;
    border: none;
    padding: 3px;
    margin-right: $chooseFormMargin;
    font-size: 12px;
  }

  .choose-form:focus,
  .choose-form:active{
    outline: none;
  }

  .choose-form:hover {
    color: $extraColor;
  }

  .login-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15px 25px;
    width: $formWidth;

    .form-group {
      position: relative;
      margin-bottom: 25px;

      .form-control {
        padding: 12px 15px;
        border-radius: 4px;
        border: 1px solid #ffffff;
        font-size: 14px;
      }

      .error-message {
        position: absolute;
        font-size: 14px;
        bottom: -20px;
        left: 10px;
        color: #FF4405;
      }
    }

    .form-control {
      width: $formWidth;
    }

    .MuiButtonBase-root {
      width: 150px;
      float: right;
    }

    .MuiButtonBase-root:active,
    .MuiButtonBase-root:focus {
      outline: none;
    }
  }
}
